<!DOCTYPE html>
<html>
  <head>
    <title>Programming for Data Analysis CA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Programming for Data Analysis CA-Two</h1>

    <h2>Data Visualization</h2>

    <h3>Cricket - Test Matches Records</h3>
    <table>
        <thead>
            <tr>
                {% for col in cols %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for val in row %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
  </body>
</html>